{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Gráfico de Rendimiento</title>
  <script src="https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js"></script>
  <link rel="icon" href="{% static 'images/logo.png' %}">
  <link rel="stylesheet" href="{% static 'css/progress.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
</head>
<body>
  <header class="navbar">
    <div class="navbar-left">
      <a href="{% url 'index' %}" ><h1>FTR</h1></a>
    </div>

    <nav class="navbar-center">
      <a href="{% url 'index' %}">Inicio</a>
      <a href="{% url 'entrenamiento' %}">Entrenamiento</a>
    </nav>

    <div class="navbar-right">
      <a href="{% url 'index' %}" class="btn">Log Out</a>
    </div>
  </header>
<h2 style="text-align: left; margin-left: 26%;">Introduce tus valores</h2>
<div id="contenedor-formulario-grafico">
  <form method="post" id="calcForm">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Guardar y generar gráfico</button>
  </form>
</div>


  <script src="{% static 'js/progress.js' %}"></script>

  <footer class="footer">
    <div class="footer-left">
      <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo">
      <div class="social-icons">
        <a href="https://www.facebook.com/ZukaKhantadze" target="_blank" aria-label="Facebook">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.tiktok.com/@_zakhan_" target="_blank" aria-label="TikTok">
          <i class="fab fa-tiktok"></i>
        </a>
        <a href="https://www.instagram.com/_zakhan_" target="_blank" aria-label="Instagram">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </div>
    <div class="footer-columns">
      <div class="footer-column">
        <h4>Contacto</h4>
        <p>contacto@fittracker.com</p>
        <p>+34 012 456 789</p>
      </div>
      <div class="footer-column">
        <h4>Dirección</h4>
        <p>Calle Inexistente 13</p>
        <p>Madrid, España</p>
      </div>
      <div class="footer-column">
        <h4>Redes Sociales</h4>
        <p>Síguenos en Facebook, <br>TikTok e Instagram.</p>
      </div>
    </div>
  </footer>
</body>
</html>
