{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>FitTracker - Login</title>
  <link rel="icon" href="{% static 'images/logo.png' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  <link rel="stylesheet" href="{% static 'css/login.css' %}" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet" />
</head>
<body>

  <main class="auth-container">
  <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo" id="logo" />
    <h2>Iniciar sesión</h2>
    <form method="post" action="{% url 'log_in' %}">
      {% csrf_token %}
      <div class="form-group">
        {{ form.username.label_tag }}
        {{ form.username }}
        {% if form.username.errors %}
          <div class="error">{{ form.username.errors }}</div>
        {% endif %}
      </div>
      
      <div class="form-group">
        {{ form.password.label_tag }}
        {{ form.password }}
        {% if form.password.errors %}
          <div class="error">{{ form.password.errors }}</div>
        {% endif %}
      </div>

      <button type="submit" class="btn">Entrar</button>
        <p class="auth-alt">
        ¿Todavía no tienes cuenta?
        <a href="{% url 'sign_up' %}" class="btn">Registrate</a>
      </p>
    </form>
  </main>

  <footer class="footer">
    <div class="footer-left">
      <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo" />
      <div class="social-icons">
        <a href="https://www.facebook.com/ZukaKhantadze" target="_blank" aria-label="Facebook">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.tiktok.com/@_zakhan_" target="_blank" aria-label="TikTok">
          <i class="fab fa-tiktok"></i>
        </a>
        <a href="https://www.instagram.com/_zakhan_" target="_blank" aria-label="Instagram">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </div>
    <div class="footer-columns">
      <div class="footer-column">
        <h4>Contacto</h4>
        <p>contacto@fittracker.com</p>
        <p>+34 012 456 789</p>
      </div>
      <div class="footer-column">
        <h4>Dirección</h4>
        <p>Calle Inexistente 13</p>
        <p>Madrid, España</p>
      </div>
      <div class="footer-column">
        <h4>Redes Sociales</h4>
        <p>Síguenos en Facebook, <br />TikTok e Instagram.</p>
      </div>
    </div>
  </footer>
</body>
</html>
